FLASK_ENV=development
SECRET_KEY=change-me-in-production
JWT_SECRET_KEY=change-me-jwt-secret
# DATABASE_URL=sqlite:///absolute/path/to/vintage_vault.db

# MinIO
MINIO_ENDPOINT=118.145.224.82:9000
MINIO_ACCESS_KEY=hkadmin
MINIO_SECRET_KEY=hkadmin!87@s
